<h1>Book a E-scooter</h1>

<div class="container">
  <%= simple_form_for [@e_scooter, @booking] do |f| %>
    <%= f.input :check_in_date %>
    <%= f.input :check_out_date %>
    <%= f.submit class: 'btn btn-secondary mt-3' %>
  <% end %>
</div>
