<div class="banners" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1566936737687-8f392a237b8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1>Book a E-scooter</h1>
  </div>
</div>


<div class="container">
  <%= simple_form_for [@e_scooter, @booking] do |f| %>
    <%= f.input :check_in_date %>
    <%= f.input :check_out_date %>
    <%= f.submit class: 'btn btn-secondary mt-3' %>
  <% end %>
</div>
