.banner-index-e_scooters {
  background-size: cover;
  background-position: bottom;
  padding: 30px 0;
  padding-bottom: inherit;
}

.banner-index-e_scooters h2 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner-index-e_scooters h1 {
  text-align: center;
  margin: 5px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-index-e_scooters p {
  text-align: center;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banners h1{
  text-align: center;
    margin: 5px;
    color: white;
    font-size: 40px;
    padding: 40px;
    margin: 0px;
}
