.col-sm-4{
  margin-top: 30px;
}

.btn-secondary{
  margin-top: 20px;
}

.d-flex {
  display: flex !important;
  margin: 35px 150px;
}

.card-infos{
  margin-left: 30px;
}
.card-title a {
  color: black;
}

.card-title a:hover {
  color: rgb(100, 86, 224);
}
