.footer-copyright {
  margin-top: auto;
  background: #524d4d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0px 50px;
  color: rgba(250, 250, 250, 0.3);
}
