<h2> Welcome to </h2>
<h1>TROC TO TROT 836</h1>

 <ul>
  <% @e_scooters.each do |e_scooter| %>
    <li><%= link_to e_scooter.name, e_scooter_path(e_scooter) %></li>
    <li><%= e_scooter.price %>€</li>
  <% end %>
</ul>

<p><% if user_signed_in? && current_user.owner == true %>
  <%= link_to 'create', new_e_scooter_path  %>
<% end %></p>
<p><%= link_to 'See all your reservations', bookings_path %></p>
